[user]
  name = kxhitiz
  email = nirvanagrg@gmail.com
[github]
  user = kxhitiz
[mirror]
  summary = true
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = red
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[branch "master"]
  rebase = true
[core]
  editor = vim
  autocrlf = input
  safecrlf = true
[push]
  default = tracking
[branch]
  autosetuprebase = always
[diff]
  algorithm = patience
